.nav-item{
    margin-right: 1%;
}

nav{
    background-color: #fecc00;
}

.nav-link.active{
    background-color: #ffffff;
}
a{
    padding: 1%;
    border-radius: 10px;;
}
.active-tab{
    // text-decoration: underline;
    background-color: #e0b714;
    
}

.navbar-brand{
    font-weight: bold;
}