.nav-item{
    margin-right: 1%;
}

nav{
    background-color: #fecc00;
}


a{
    padding: 1%;
    border-radius: 10px;;
}
.active-tab{
    background-color: #e0b714;
    
}

.navbar-brand{
    font-weight: bold;
}