<div class="containerCol">

    <div class="containerRow">
        <div class="card text-center" style="width: 18rem; max-height: 55rem">
            <div class="card-header">Nombre de films</div>
            <div class="card-body">
                <h1>{{ data.filmCount }}</h1>
            </div>
        </div>

        <div class="card text-center" style="width: 18rem; max-height: 55rem">
            <div class="card-header">Nombre d'utilisateurs</div>
            <div class="card-body">
                <h1>{{ data.userCount }}</h1>
            </div>
        </div>
    </div>

    <div class="containerRow">
        <div class="card text-center" style="width: 18rem; max-height: 55rem">
            <div class="card-header">Nombre d'avis</div>
            <div class="card-body">
                <h1>{{ data.reviewCount }}</h1>
            </div>
        </div>

        <div class="card text-center" style="width: 18rem; max-height: 55rem">
            <div class="card-header">Satisfaction</div>
            <div class="card-body">
                <h1>{{ data.meanRating }} %</h1>
            </div>
        </div>
    </div>

</div>