<div>
    <h1>Ajouter un film</h1>
    <form id="movieForm" name="form" [formGroup]="movieForm">
        <div class="d-flex flex-column " [formGroup]="movieForm">
            <label for="title">Titre</label>
            <input type="text" id="title" name="title" [formControlName]="'title'"/>
        </div>
        <div class="d-flex flex-column" [formGroup]="movieForm">
            <label for="title">Realisateur</label>
            <input type="text" id="director" name="director" [formControlName]="'director'"/>
        </div>
        <div class="d-flex flex-column " [formGroup]="movieForm">
            <label for="title">Date de sortie</label>
            <input type="date" id="date" name="date" [formControlName]="'releaseDate'"/>
        </div>
        <div class="d-flex flex-column " [formGroup]="movieForm">
            <label for="title">Synopsis</label>
            <input type="text" id="synopsis" name="synopsis" [formControlName]="'synopsis'"/>
        </div>
        <div class="d-flex flex-column " [formGroup]="movieForm">
            <label for="title">Note</label>
            <input type="number" min="0" max="5" id="rating" name="rating" [formControlName]="'rating'"/>
        </div>
        <button class="btn btn-warning" (click)="addMovie()" [disabled]="!movieForm.valid">Ajouter</button>
        <button class="btn btn-secondary goBack" routerLink="/movies">Retour</button>
    </form>
</div>
