.card-title{
    text-align: center;
}

.card-body{
    background-color: #fecc00;
}
.card-text{
    background-color: white;
    padding: 2%;
    height: 300px;
    overflow-y: scroll;
}

.card{
    max-width: 250px;
    margin: 0;
}