<div>
    <h1>Modifier le film</h1>
    <form id="movieForm" name="form" [formGroup]="movieForm">
        <div class="d-flex flex-column " [formGroup]="movieForm">
            <label for="title">Titre</label>
            <small id="titleHelpBlock" class="form-text text-muted">Le titre doit contenir uniquement des
                majuscules</small>
            <input type="text" id="title" name="title" [formControlName]="'title'" aria-describedby="titleHelpBlock"/>
        </div>
        <div class="d-flex flex-column" [formGroup]="movieForm">
            <label for="title">Realisateur</label>
            <small id="directorHelpBlock" class="form-text text-muted">Le nom doit etre de la forme: Prenom Nom</small>
            <input type="text" id="director" name="director" [formControlName]="'director'"
                   aria-describedby="directorHelpBlock"/>
        </div>
        <div class="d-flex flex-column " [formGroup]="movieForm">
            <label for="title">Date de sortie</label>
            <small id="dateHelpBlock" class="form-text text-muted">La date doit etre superieure a la date du
                jour</small>
            <input type="date" id="date" name="date" [formControlName]="'releaseDate'"
                   aria-describedby="dateHelpBlock"/>
        </div>
        <div class="d-flex flex-column " [formGroup]="movieForm">
            <label for="title">Synopsis</label>
            <small id="synopsisHelpBlock" class="form-text text-muted">Le synopsis doit etre strictement
                superieur a 30 caracteres.</small>
            <input type="text" id="synopsis" name="synopsis" [formControlName]="'synopsis'"
                   aria-describedby="synopsisHelpBlock"/>
        </div>
        <button class="btn btn-warning" (click)="editMovie()" [disabled]="!movieForm.valid">Modifier</button>
        <button class="btn btn-secondary goBack" routerLink="/movies">Retour</button>
    </form>

</div>
