<div>
    <h1>Modifier le film</h1>
    <form id="movieForm" name="form" [formGroup]="movieForm">
        <div class="d-flex flex-column " [formGroup]="movieForm">
            <label for="title">Titre</label>
            <input type="text" id="title" name="title" [formControlName]="'title'"/>
        </div>
        <div class="d-flex flex-column" [formGroup]="movieForm">
            <label for="title">Realisateur</label>
            <input type="text" id="director" name="director" [formControlName]="'director'"/>
        </div>
        <div class="d-flex flex-column " [formGroup]="movieForm">
            <label for="title">Date de sortie</label>
            <input type="date" id="date" name="date" [formControlName]="'releaseDate'"/>
        </div>
        <div class="d-flex flex-column " [formGroup]="movieForm">
            <label for="title">Synopsis</label>
            <input type="text" id="synopsis" name="synopsis" [formControlName]="'synopsis'"/>
        </div>
        <button class="btn btn-warning" (click)="editMovie()" [disabled]="!movieForm.valid">Modifier</button>
        <button class="btn btn-secondary goBack" routerLink="/movies">Retour</button>
    </form>

</div>
